@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://fonts.gstatic.com/s/arvo/v8/J0GYVYTizO1mjpT3aOcSbQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/WJ6D195CfbTRlIs49IbkFw.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(http://fonts.gstatic.com/s/arvo/v8/Ya11CJGBCnKoJHvb8B2EOw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/0Aa8aBJcGN1n1zDNhqNrnQ.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 400;
  src: local('Arvo Italic'), local('Arvo-Italic'), url(http://fonts.gstatic.com/s/arvo/v8/Yl0tppep0-4db_jv2GpmdA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/7solcx-ZQo6LBqJvZuxkkg.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 700;
  src: local('Arvo Bold Italic'), local('Arvo-BoldItalic'), url(http://fonts.gstatic.com/s/arvo/v8/Vj6JEk1YZr8j8R8H2j0b-ltXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/Vj6JEk1YZr8j8R8H2j0b-j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}
.lato {
  font-family: 'Lato', helvetica, arial, sans-serif !important;
}
.arvo {
  font-family: 'Arvo', 'Roboto Slab', serif !important;
}
.bold {
  font-weight: 700;
}
.normal {
  font-weight: 400;
}
html {
  line-height: 1.4;
}
p,
#breadcrumbs a,
ol,
ol li {
  font-family: 'Lato', helvetica, arial, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
blockquote p {
  font-family: 'Arvo', 'Roboto Slab', serif !important;
}
h1,
.alpha {
  font-size: 207%;
}
h2,
.beta {
  font-size: 162%;
}
h3,
.gamma {
  font-size: 127%;
}
h4,
.delta {
  font-size: 100%;
}
h5,
.epsilon {
  font-size: 78%;
}
body,
p,
.content li #tabs.ui-tabs .ui-tabs-nav li h2 a,
input[type="text"],
#location pre {
  font-family: 'Lato', helvetica, arial, sans-serif !important;
}
.sectiontitle h1 a,
.text h2 a,
#title h1 a,
h3 a,
h4 a .sprocket li h4 a,
h1,
h2,
h3,
h4,
legend,
#eventinfos h5,
a.event_title,
h4 a {
  color: #231f20;
}
#bottom,
.sprocket_featured_listing .title,
.sprocket_location_search .title,
.sprocket_eventcal .title {
  background-color: #f6f5f3;
  color: #231f20 !important;
}
#bottom a,
.sprocket_featured_listing .title a,
.sprocket_location_search .title a,
.sprocket_eventcal .title a {
  color: #231f20;
}
a {
  text-decoration: none;
  color: #a80532;
}
.text h2 {
  text-align: left;
}
.infos {
  font-size: 78%;
  clear: both;
  padding: 0.6em 0;
  color: #a69b9e;
}
.infos .authors:before,
.infos .authors:after {
  content: " / ";
}
#features h2,
h3.sidebar-title {
  color: #a80532;
  margin-top: 1.4em;
}
button,
button.submit,
input.submit,
input[type="submit"],
a.view_more,
a.toggle_view {
  color: #231f20;
}
button:hover,
button.submit:hover,
input.submit:hover,
input[type="submit"]:hover,
a.view_more:hover,
a.toggle_view:hover {
  background-color: #f6f5f3;
  color: #a80532;
}
#top {
  transition: all 0.75s ease-in-out 0.3s;
  box-shadow: none;
  top: 0;
  margin: 0;
  width: 100%;
  background: transparent;
  color: #231f20;
}
#top.sticky {
  transition: all 0.75s ease-in-out 0.3s;
  position: fixed;
  z-index: 9999;
  height: 7em;
}
#top.sticky #CSE,
#top.sticky .chicklets {
  display: none;
}
#top.sticky .logo {
  max-height: 48px;
}
#top.sticky .logo a img {
  height: 48px;
  float: left;
}
#top #topnav .mainnav {
  border-top: 1px solid rgba(35, 31, 32, 0.15);
  margin-top: 1em;
}
#top #topnav .mainnav .menu_section_home a {
  display: none;
}
#top #topnav .mainnav li > a {
  font-family: 'Lato', helvetica, arial, sans-serif !important;
  font-weight: 700;
  color: #231f20;
  border: none;
  padding: 1.2em 0.8em;
  margin: 0;
}
#top #topnav .mainnav li > a:hover {
  color: #a80532;
  background-color: transparent;
}
#top #topnav .mainnav .subnav_nested {
  margin: 0;
  padding: 0;
}
#top #topnav .mainnav .subnav_nested li {
  margin: 0;
  padding: 0;
}
#top #topnav .mainnav .subnav_nested li > a {
  margin: 0;
  padding: 1.2em 1.6em;
}
.chicklets {
  padding-bottom: 1em;
}
.chicklet {
  background-color: rgba(35, 31, 32, 0.8);
}
#main h2 {
  font-size: 100%;
}
#main .carousel blockquote p {
  font-size: 127% !important;
}
#main .carousel h2 {
  font-size: 162%;
}
#main .carousel p {
  font-size: 100%;
}
#main .feature {
  border: none;
  padding: 1.2em 0 0;
}
#main .feature h3 {
  padding-top: 0;
  font-size: 162%;
}
#main .inline .sprocket_manuallist li {
  border: 0;
  margin: 0;
}
@media screen and (min-width: 641px) {
  #main .inline .sprocket_manuallist li {
    width: 50%;
    float: left;
    height: 36em;
    padding: -0.618em;
  }
  #main .inline .sprocket_manuallist li .thumb {
    padding: 0;
    margin: 0;
    display: block;
    max-width: 100%;
    width: 100%;
  }
}
#main .inline .sprocket_manuallist li h4 {
  padding-top: 0;
}
#main .more_div {
  background-color: transparent;
}
#side .sprocket_manuallist .thumb {
  max-width: 100%;
  width: 100%;
  padding: 0;
}
#side .sprocket_manuallist .thumb img {
  width: 100%;
}
#side .sprocket_manuallist .credits {
  font-size: 0.75em;
}
#side .sprocket_featured_listing,
#side .sprocket_location_search,
#side .sprocket_directory_search,
#side .sprocket_eventcal_inner {
  padding: 0.625em;
  background-color: transparent;
}
#side .sprocket_featured_listing .title,
#side .sprocket_location_search .title,
#side .sprocket_directory_search .title,
#side .sprocket_eventcal_inner .title {
  background-color: transparent;
}
#side .sprocket_featured_listing h3.sidebar-title,
#side .sprocket_location_search h3.sidebar-title,
#side .sprocket_directory_search h3.sidebar-title,
#side .sprocket_eventcal_inner h3.sidebar-title {
  font-size: 127%;
  margin-top: 0;
  color: #a80532;
  text-align: left;
}
.sprocket {
  padding: 0 0.5em;
}
.sprocket li {
  border: none;
  margin: 0 0 0.6em;
  padding-top: 0;
}
.sprocket li h4 {
  font-size: 127%;
}
.sprocket li p {
  font-size: 100%;
}
.sprocket li p,
.sprocket li h4 a {
  padding: 0;
}
.sprocket_manuallist ul {
  background-color: transparent;
}
.sprocket_manuallist li {
  padding-top: 0;
  padding: 0.5em;
}
#bottom {
  font-family: 'Lato', helvetica, arial, sans-serif !important;
}
#mp_credits {
  color: #231f20;
}
