// GLOBAL ////////////////////////////////////////////////////////

// Font Imports
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://fonts.gstatic.com/s/arvo/v8/J0GYVYTizO1mjpT3aOcSbQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/WJ6D195CfbTRlIs49IbkFw.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(http://fonts.gstatic.com/s/arvo/v8/Ya11CJGBCnKoJHvb8B2EOw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/0Aa8aBJcGN1n1zDNhqNrnQ.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 400;
  src: local('Arvo Italic'), local('Arvo-Italic'), url(http://fonts.gstatic.com/s/arvo/v8/Yl0tppep0-4db_jv2GpmdA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/7solcx-ZQo6LBqJvZuxkkg.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 700;
  src: local('Arvo Bold Italic'), local('Arvo-BoldItalic'), url(http://fonts.gstatic.com/s/arvo/v8/Vj6JEk1YZr8j8R8H2j0b-ltXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/Vj6JEk1YZr8j8R8H2j0b-j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url(http://fonts.gstatic.com/s/lora/v9/4vqKRIwnQQGUQQh-PnvdMA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lora/v9/5-AYViExptypIdFoLKAxTA.woff) format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'), url(http://fonts.gstatic.com/s/lora/v9/P18Nsu9EiYldSvHIj_0e5w.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lora/v9/XpaepWHcooQHSRnzoohUng.woff) format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url(http://fonts.gstatic.com/s/lora/v9/_RSiB1sBuflZfa9fxV8cOg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lora/v9/wXeMvRh7Gui36p_I04Ex6g.woff) format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(http://fonts.gstatic.com/s/lora/v9/_IxjUs2lbQSu0MyFEAfa7VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lora/v9/_IxjUs2lbQSu0MyFEAfa7T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

// Mixins

@color_black:					#181513;
@color_offwhite:				#f6f5f3;
@color_red:						#a12600;

.lora {font-family: 'Lora' !important}
.arvo {font-family: 'Arvo' !important}

.bold{font-weight:700}
.normal{font-weight:400}

.title-style{
	font-size: 1.4em;
	color: @color_black;
	font-weight: 400;
	font-family: Arvo !important;
}

.boxed{	
	border:1px solid #c8c8c8 !important;
	border-radius:6px;
	display: block;
	margin-bottom: 30px;
	overflow: hidden;
	box-shadow:0px 0px 2px rgba(96,96,96,0.12);
}

.sprocket-highlight{
	background-color:@color_offwhite;
	a{
		text-decoration:none;
		color: @color_red !important;
	}
}

.button-style{
	color:@color_black;
	background: none repeat scroll 0 0 lighten(@color_red, 25%);
	&:hover{
		background: none repeat scroll 0 0 @color_red;
	}
}

a{
	color:@color_red;
}

// Global Styles

html{font-size:12px}

#body{
	max-width:100%;
	background-color:@color_offwhite;
}

a:hover{
	text-decoration:none !important;
}

h1, h2, h3, h4, h5, h6, a, .content li, .media-content, select, input, button, textarea, button {
	.arvo;
}

p{.lora}

h1,h2,h3,h4,h5,h6{
	.normal;
	&, & a, #title & a{
		color:@color_black;
	}
}

// Button Style

a.listing_but, a.reset, a.submit_event, #location a.link, button, input.button, .roundup_marker, .roundup-location .number {
    .button-style;
}

// Basic Layout and Sizes

#page{
	margin:0;
	padding:0;
}

#main{
	max-width:60em;
	width:64%;
}

#side{
	float:left;
	margin-left:2em;
	overflow:visible;
	max-width:24em;
	width:32%;
}

#logo, #topnav, #breadcrumbs{
	max-width:96em;
	margin:0 auto;
}

// HEADER STYLES //////////////////////////////////////

 
#top{
	top:0;
	margin:0;
	width:100%;
	background: #fff no-repeat top center;
	transition:all 0.75s ease-in-out 0.3s;
	color:@color_black;
	&.sticky{
		transition:all 0.75s ease-in-out 0.3s;
		position: fixed;
		z-index:9999;
		height:7em;
		#CSE, .chicklets{
			display:none;
		}
		.logo {
			a img{
				height:48px;
				float:left;
			}
			max-height:48px;
		}
		.mainnav{
			float:left;
		}
	}
}


#topnav {
	.mainnav li > a {
    	color: @color_black;
	}
	.mainnav a {
    	font-size: 120%;
	    padding: 1em;
    	background-color: transparent;
    	padding: 1.2em 1em;
    	text-decoration: none;
    	display: block;
	}
	/*li, .subnav_nested li{
		border-color:darken(@color_black, 10);
		@media screen and (max-width:48em){
			border-color:darken(@color_black, 10);
		}
	}*/
	a.pull {
		&:hover{
			background-color:@color_red;
		}
		color:@color_offwhite;
	}
}

/*
.logo a img {
    &.standard{
    	@media screen and (max-width:48em){
    		display:none !important;
    	}
	}
	&.responsive{
	    max-height:6em;
	    width: auto;
		margin: 0 auto;
	}
}

.header_links {
	@media screen and (min-width:48em){
    	top: 5em;
    }
    font-size:1.2em;
    a{margin-left: 1.4em;}
    a:hover{color:white}
}

*/

// Chicklets and CSE positioning on desktop

@media screen and (min-width:48em){
	#logo{
		#CSE, .chicklets{
				top:15px;
			}
		}
	#CSE{left:0}
	.chicklets{right:0}
}

// Breadcrumbs

#breadcrumbs{
	padding:0.4em 0 0.4em 2em;
	background-color:transparent;
	a{color:fade(@color_offwhite, 50%);
		&:hover{color: fade(@color_offwhite, 100%)}
	}
}

// Submenu Styling

#related{
	border-top: 1px solid @color_offwhite;
}

// CONTENT STYLES /////////////////////////////////////

// Post Types ///////////////////////////////////
.feature, .sprocket, #pagetype_article #main, .lead{
	width:100%;
	background-color:transparent;
	border-bottom: none;
}

.feature, .carousel-teaser, .sprocket, .lead, .featurette{
	h3, .description, .infos{
		padding:8px 0px;
	}
	.description{
		font-size:1.4em;
		line-height:1.6;
	}
}

.features_wide {
    width: 100%;
}

.featurette{
	clear:both;
}

#pagetype_homepage, #pagetype_article, #pagetype_tags, #pagetype_event, 
#pagetype_section, #pagetype_eventsearch, #pagetype_searchresults, #pagetype_subsection, 
#pagetype_page, #pagetype_locationsearch, #pagetype_location{
	max-width:96em;
	margin:0 auto;
	@media screen and (max-width:48em){
	    padding-top: 12em;
	}
}

// Lead Story

.carousel.teaser, #sectionlead .lead {
    background: none repeat scroll 0% 0% @color_offwhite;
}

/*.lead{
	width:100%;
	margin-right:0;
	border-bottom: 0;
	p{display:block; background-color:@color_offwhite; max-height:10em; width:33%}
	h2{background-color: @color_red; width: 33%;
		a{color:white !important;}
	}
	h2, p{padding:12px 24px;}
	.text{
		left: 0;
		height: 10em;
		margin-top:1em;
		position: absolute;
		top: 0;
		color:white;
		background-color:transparent;
		padding: 8px 18px;
	}
	.image {
		p.credits {background-color: transparent; position:absolute; bottom:24px;}
	}
}

#sectionlead .lead{
	border-bottom:0;
}

#pagetype_article #main {
	& > *{
		padding:0 24px;
	}
	#location{
		h3{padding-left:0 !important}
	}
}

// Carousel

.carousel{
	&.media {
		.file, .youtube, .vimeo, .soundcloud, .cdn-video, .cdn-audio, .embed {
		margin: 0 auto;
		}
	}
	&.teaser {
		border-bottom: 0;
		.text {
		    background-color: transparent;
		    position:static;
		    clear:both;
		}
		.text, .lead .text {
    		background: none repeat scroll 0% 0% transparent;
    		color: #000;
    		min-height: 6.7em;
		}
		.carousel-item{
			background-color:#fff;
			opacity:1;
			position:static;
			width:33%;
			margin-right:2px;
			float:left;
			p{display:none}
			h2{font-size:1.2em;}
			&:first-child{
				.lead;
			}
			@media screen and (max-width:48em){
				background-color:#fff;
				margin-bottom:24px;
				width:100%;
				.text, &:first-child .text{
					clear:both;
					min-height:12em;
					height: 100%;
					margin:0;
					padding:8px;
					position:static !important;
					p, h2{background-color:transparent; width:100%; color:@color_black; display:block;
						a{color:@color_black}
					}
					&, &:first-child{
						p, h2{padding:4px}
					}
				}
			}
			.text h2 a{
				font-size: 1.4em;
				color: #232323;
				font-weight: 400;
			}
			.text p{
				font-size:1.25em;
			}
		}
		.image img {
		    max-height: 29.6em;
		}
		& > div {
			min-height:0;
		}
	}
	.carousel-nav{
		display:none;
	}
	p.lead{
		clear:both;
		border:0 !important;
		box-shadow:none;
		font-size:1.2em;
	}
}

.media-carousel{
	box-shadow:none;
	border:0;
}

*/

.carousel{
	h2 {
		text-align:left;
		a{font-weight:400; font-size:1.4em; color: @color_black;}
	}
	.text{
		p{font-size:1.4em}
	}
	&.teaser{
		.text{
			padding:2em 0;
			background: none repeat scroll 0% 0% @color_offwhite;
		}
	}
}

// Feature

#features h2{
	padding:24px 0 12px;
	text-align:left;
	font-family: 'Arvo' !important;
	font-weight:400;
	font-size:1.4em;
	color:@color_red;
	border-bottom:1px solid darken(@color_offwhite,10%);
}

.feature{
	padding-top:0;
	margin:1em 0;
	.image{
		float:left;
		a{
			display:block;
			overflow:hidden;
		}
		.credits{
			text-align:left;
			padding-right: 12px;
		}
	}
	h3 {
		margin-top:0;
		padding-top:0;
		a{
			font-size:1.4em;
			color:@color_black;
			font-weight:400;
			font-family: 'Arvo' !important;
		}
	}
}

// Inline

#inline{
	margin:0;
	.sprocket ul {
		.highlight {
			.thumb{
				padding: 0px 12px 0px 0;
				display: block;
				float: left;
			}
			h4{.title-style;}
		}
		.normal{
			padding-left:24px;
			&:hover{
				.sprocket-highlight;
			}
		}
		
	}
}

p.infos {
	clear:both;
}

.more_div{
	background: none repeat scroll 0% 0% @color_offwhite;
}

// Review

#location{
	h3{padding:0}
}

// Sprockets

.sprocket{
	margin: 0 0 0.6em;
	overflow:visible;
	.description, .infos{
		font-size:1.4em;
	}

	p, fieldset{
		padding:8px 24px;
	}
	div.title, div.title a, {
		padding:0;
		color:@color_red;
		color:white;
		text-align:center;
	}
	h3{
		border-top: 1px solid #ddd;
		font-size:1.4em;
		font-weight:500;
		color:@color_red;
		text-align:center
	}
	ul{
		.normal{
			&:hover{
				.sprocket-highlight;
			}
		}
	}
}

#side .sprocket {
	div.thumb{
		margin-right:12px;
		width:64px;
		height:64px;
		border-radius:9999px;
		overflow:hidden;
		img{
			height:100%;
			width:auto;
		}
	}
	h4{
		font-size:1.4em;
		a{color:black; font-family: 'Arvo' !important; font-weight:400}
	}
	p.description{
		clear:both;
		display:none;
	}
	.author_container{
		display:none;
	}
}

.sprocket_manuallist {
	ul{background-color:transparent}
	.thumb{max-width: 33%;}
	li{
		&, .feature, .entry {
			border:none;
	    	position: relative;
	    	background-color:transparent;
	    }
	}
}

#rating p{
	padding:0;
}

// Footer Styles

#bottom{
	margin:0;
	color:white;
	background-color: @color_black;
}

#bottomnav, #textnav {
    border-top:0;
}