// GLOBAL ////////////////////////////////////////////////////////

// Font Imports
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://fonts.gstatic.com/s/arvo/v8/J0GYVYTizO1mjpT3aOcSbQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/WJ6D195CfbTRlIs49IbkFw.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(http://fonts.gstatic.com/s/arvo/v8/Ya11CJGBCnKoJHvb8B2EOw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/0Aa8aBJcGN1n1zDNhqNrnQ.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 400;
  src: local('Arvo Italic'), local('Arvo-Italic'), url(http://fonts.gstatic.com/s/arvo/v8/Yl0tppep0-4db_jv2GpmdA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/7solcx-ZQo6LBqJvZuxkkg.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 700;
  src: local('Arvo Bold Italic'), local('Arvo-BoldItalic'), url(http://fonts.gstatic.com/s/arvo/v8/Vj6JEk1YZr8j8R8H2j0b-ltXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v8/Vj6JEk1YZr8j8R8H2j0b-j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}

// Mixins

@color_black:					#231F20;
@color_offwhite:			#f6f5f3;
@color_red:						#A80532;

.lato {font-family: 'Lato', helvetica, arial, sans-serif !important}
.arvo {font-family: 'Arvo', 'Roboto Slab', serif !important}

.bold{font-weight:700}
.normal{font-weight:400}

// GLOBAL SETTINGS

html{line-height:1.4;}
p, #breadcrumbs a, ol, ol li{.lato;}
h1, h2, h3, h4, h5, h6, blockquote p{.arvo;}
h1, .alpha{font-size:207%}
h2, .beta{font-size:162%}
h3, .gamma{font-size:127%}
h4, .delta{font-size:100%}
h5, .epsilon{font-size:78%}

// THEME OVERRIDES

body, p, .content li #tabs.ui-tabs .ui-tabs-nav li h2 a, input[type="text"], #location pre {
    .lato;
}

.sectiontitle h1 a, .text h2 a, #title h1 a, h3 a, h4 a .sprocket li h4 a, h1, h2, h3, h4, legend, #eventinfos h5, a.event_title, h4 a {
    color: @color_black;
}

#bottom, .sprocket_featured_listing .title, .sprocket_location_search .title, .sprocket_eventcal .title {
    background-color: @color_offwhite;
    color:@color_black !important;
    a{color:@color_black}
}

a{
    text-decoration: none;
    color:@color_red;
  }

.text h2 {
  text-align: left;
}

.infos{
  .epsilon;
  clear:both;
  padding:0.6em 0;
  color: lighten(@color_black, 50%);
  .authors{
    &:before, &:after{
      content:" / "
    }
  }
}

#features h2, h3.sidebar-title {color:@color_red; margin-top:1.4em}

// UI ELEMENTS

button, button.submit, input.submit, input[type="submit"], a.view_more, a.toggle_view {
    color: @color_black;
    &:hover{
      background-color:@color_offwhite;
      color:@color_red;
    }
}

// HEADER

#top{
  transition:all 0.75s ease-in-out 0.3s;
  box-shadow: none;
  top:0;
  margin:0;
  width:100%;
  background: transparent;
  color:@color_black;
  &.sticky{
    transition:all 0.75s ease-in-out 0.3s;
    position: fixed;
    z-index:9999;
    height:7em;
    #CSE, .chicklets{
      display:none;
    }
    .logo {
      a img{
        height:48px;
        float:left;
      }
      max-height:48px;
    }
  }

// TOP NAV
#topnav{
    .mainnav{
      .menu_section_home{
        a{display:none;}
      }
      border-top: 1px solid fade(@color_black, 15%);
      margin-top:1em;
      li > a {.lato; .bold; 
        color:@color_black; 
        border:none; 
        padding:1.2em 0.8em;
        margin:0;
        &:hover{color:@color_red; background-color:transparent;}
      }
      .subnav_nested {
        margin:0;
        padding:0;
        li{
          margin:0;
          padding:0;
          & > a{
            margin:0;
            padding:1.2em 1.6em;
          }
        }
      }
    }
  }
}

// CHICKLETS
.chicklets{
  padding-bottom:1em;
}

.chicklet{
  background-color:fade(@color_black, 80%);
}

// MAIN

#main{
  h2{.delta}
  .carousel{
    blockquote{
      p{.gamma !important}
    }
    h2{.beta}
    p{.delta}
  }
  .feature{
    border:none;
    padding:1.2em 0 0;
    h3{padding-top:0; .beta}
  }
  .inline{
    .sprocket_manuallist {
      li{
        
        @media screen and (min-width: 641px){
          width:50%;
          float:left;
          height:36em;
          padding:-0.618em;
          .thumb{
          padding:0;
          margin:0;
          display:block;
          max-width:100%;
          width:100%;
          }
        }
        
        border:0;
        margin:0;
        
        h4{padding-top: 0;}
      }
    }
  }
  .more_div {background-color:transparent}
}

// SIDE

#side{
  .sprocket{}
  .sprocket_manuallist{
    .thumb {
      max-width:100%;
      width:100%;
      padding:0;
      img{width:100%;}
    }
    .credits{
      font-size:0.75em;
    }
  }
  .sprocket_featured_listing, .sprocket_location_search, 
  .sprocket_directory_search, .sprocket_eventcal_inner {
    padding: 0.625em;
    background-color: transparent;
    .title{background-color:transparent}
    h3.sidebar-title{
      .gamma;
      margin-top:0;
      color:@color_red;
      text-align:left;
    }
  }
}

.sprocket{
  padding:0 0.5em;
  li{border:none; margin:0 0 0.6em; padding-top:0;
    h4{.gamma}
    p{.delta}
    p, h4 a{padding:0}
  }
}

.sprocket_manuallist {
  ul{
    background-color:transparent;
  }
  li{padding-top:0; padding:0.5em}
}

// BOTTOM

#bottom{.lato}
#mp_credits{color:@color_black}