@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/GtRkRNTnri0g82CjKnEB0Q.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/BVtM30trf7q_jfqYeHfjtA.woff) format('woff');
}
.font-a {
  font-family: 'Lato' !important;
}
.bold {
  font-weight: 700;
}
.light {
  font-weight: 100;
}
.boxed {
  border: 1px solid #c8c8c8 !important;
  background-color: #fff;
  border-radius: 6px;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgba(96, 96, 96, 0.12);
}
.sprocket-highlight {
  background-color: #f6f5f3;
  border-left: 5px solid black;
}
.sprocket-highlight a {
  text-decoration: none;
}
.button-style {
  color: #181513;
  background: none repeat scroll 0 0 #c3e297;
}
.button-style:hover {
  background: none repeat scroll 0 0 #89c237;
}
#body {
  max-width: 100%;
  background-color: #f6f5f3;
}
a:hover {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
.content li,
.media-content,
select,
input,
button,
textarea,
button {
  font-family: 'Lato' !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
#title h1 a,
#title h2 a,
#title h3 a,
#title h4 a,
#title h5 a,
#title h6 a {
  color: #181513;
}
a.listing_but,
a.reset,
a.submit_event,
#location a.link,
button,
input.button,
.roundup_marker,
.roundup-location .number {
  color: #181513;
  background: none repeat scroll 0 0 #c3e297;
}
a.listing_but:hover,
a.reset:hover,
a.submit_event:hover,
#location a.link:hover,
button:hover,
input.button:hover,
.roundup_marker:hover,
.roundup-location .number:hover {
  background: none repeat scroll 0 0 #89c237;
}
#page {
  margin: 0;
  padding: 0;
}
#main {
  max-width: 60em;
  width: 64%;
}
#side {
  float: left;
  margin-left: 2em;
  overflow: visible;
  max-width: 24em;
  width: 32%;
}
#logo,
#topnav,
#breadcrumbs {
  max-width: 96em;
  margin: 0 auto;
}
#top {
  top: 0;
  margin: 0;
  width: 100%;
  background: #181513 url('header_colors.png') repeat-x top center;
  position: fixed;
  z-index: 9999;
  transition: all 0.3s ease-in-out 0.1s;
  opacity: 0.85;
}
#top:hover {
  opacity: 1;
}
@media screen and (max-width: 48em) {
  #top {
    background-color: #181513;
    opacity: 1;
  }
}
#topnav .mainnav li > a {
  color: #f6f5f3;
}
#topnav .mainnav a {
  font-size: 120%;
  padding: 1em;
  background-color: transparent;
  padding: 1.2em 1em;
  text-decoration: none;
  display: block;
}
#topnav li,
#topnav .subnav_nested li {
  border-color: #000000;
}
@media screen and (max-width: 48em) {
  #topnav li,
  #topnav .subnav_nested li {
    border-color: #000000;
  }
}
#topnav a.pull {
  color: #f6f5f3;
}
#topnav a.pull:hover {
  background-color: #89c237;
}
@media screen and (max-width: 48em) {
  .logo a img.standard {
    display: none !important;
  }
}
.logo a img.responsive {
  max-height: 6em;
  width: auto;
  margin: 0 auto;
}
.header_links {
  font-size: 1.2em;
}
@media screen and (min-width: 48em) {
  .header_links {
    top: 5em;
  }
}
.header_links a {
  margin-left: 1.4em;
}
.header_links a:hover {
  color: white;
}
@media screen and (min-width: 48em) {
  #logo #CSE,
  #logo .chicklets {
    top: 15px;
  }
  #CSE {
    left: 0;
  }
  .chicklets {
    right: 0;
  }
}
#breadcrumbs {
  padding: 0.4em 0 0.4em 2em;
  background-color: transparent;
}
#breadcrumbs a {
  color: rgba(246, 245, 243, 0.5);
}
#breadcrumbs a:hover {
  color: #f6f5f3;
}
#related {
  border-top: 1px solid #f6f5f3;
}
.feature,
.sprocket,
#pagetype_article #main,
.lead {
  width: 100%;
}
.feature,
.sprocket,
#pagetype_article #main,
.lead,
.featurette {
  border: 1px solid #c8c8c8 !important;
  background-color: #fff;
  border-radius: 6px;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgba(96, 96, 96, 0.12);
}
.feature h3,
.carousel-teaser h3,
.sprocket h3,
.lead h3,
.featurette h3,
.feature .description,
.carousel-teaser .description,
.sprocket .description,
.lead .description,
.featurette .description,
.feature .infos,
.carousel-teaser .infos,
.sprocket .infos,
.lead .infos,
.featurette .infos {
  padding: 8px 18px;
}
.feature .description,
.carousel-teaser .description,
.sprocket .description,
.lead .description,
.featurette .description {
  font-size: 18px;
  line-height: 1.5;
}
.features_wide {
  width: 100%;
}
.featurette {
  clear: both;
}
#pagetype_homepage,
#pagetype_article,
#pagetype_tags,
#pagetype_event,
#pagetype_section,
#pagetype_eventsearch,
#pagetype_searchresults,
#pagetype_subsection,
#pagetype_page,
#pagetype_locationsearch,
#pagetype_location {
  padding-top: 240px;
  max-width: 96em;
  margin: 0 auto;
}
@media screen and (max-width: 48em) {
  #pagetype_homepage,
  #pagetype_article,
  #pagetype_tags,
  #pagetype_event,
  #pagetype_section,
  #pagetype_eventsearch,
  #pagetype_searchresults,
  #pagetype_subsection,
  #pagetype_page,
  #pagetype_locationsearch,
  #pagetype_location {
    padding-top: 12em;
  }
}
.lead {
  width: 100%;
  margin-right: 0;
  border-bottom: 0;
}
.lead p {
  display: block;
  background-color: #f6f5f3;
  max-height: 10em;
  width: 33%;
}
.lead h2 {
  background-color: #89c237;
  width: 33%;
}
.lead h2 a {
  color: white !important;
}
.lead h2,
.lead p {
  padding: 12px 24px;
}
.lead .text {
  left: 0;
  height: 10em;
  margin-top: 1em;
  position: absolute;
  top: 0;
  color: white;
  background-color: transparent;
  padding: 8px 18px;
}
.lead .image p.credits {
  background-color: transparent;
  position: absolute;
  bottom: 24px;
}
#sectionlead .lead {
  border-bottom: 0;
}
#pagetype_article #main > * {
  padding: 0 24px;
}
#pagetype_article #main #location h3 {
  padding-left: 0 !important;
}
.carousel.media .file,
.carousel.media .youtube,
.carousel.media .vimeo,
.carousel.media .soundcloud,
.carousel.media .cdn-video,
.carousel.media .cdn-audio,
.carousel.media .embed {
  margin: 0 auto;
}
.carousel.teaser {
  border-bottom: 0;
}
.carousel.teaser .text {
  background-color: transparent;
  position: static;
  clear: both;
}
.carousel.teaser .text,
.carousel.teaser .lead .text {
  background: none repeat scroll 0% 0% transparent;
  color: #000;
  min-height: 6.7em;
}
.carousel.teaser .carousel-item {
  background-color: #fff;
  opacity: 1;
  position: static;
  width: 33%;
  margin-right: 2px;
  float: left;
}
.carousel.teaser .carousel-item p {
  display: none;
}
.carousel.teaser .carousel-item h2 {
  font-size: 1.2em;
}
.carousel.teaser .carousel-item:first-child {
  border: 1px solid #c8c8c8 !important;
  background-color: #fff;
  border-radius: 6px;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgba(96, 96, 96, 0.12);
  width: 100%;
  margin-right: 0;
  border-bottom: 0;
}
.carousel.teaser .carousel-item:first-child h3,
.carousel.teaser .carousel-item:first-child .description,
.carousel.teaser .carousel-item:first-child .infos {
  padding: 8px 18px;
}
.carousel.teaser .carousel-item:first-child .description {
  font-size: 18px;
  line-height: 1.5;
}
.carousel.teaser .carousel-item:first-child p {
  display: block;
  background-color: #f6f5f3;
  max-height: 10em;
  width: 33%;
}
.carousel.teaser .carousel-item:first-child h2 {
  background-color: #89c237;
  width: 33%;
}
.carousel.teaser .carousel-item:first-child h2 a {
  color: white !important;
}
.carousel.teaser .carousel-item:first-child h2,
.carousel.teaser .carousel-item:first-child p {
  padding: 12px 24px;
}
.carousel.teaser .carousel-item:first-child .text {
  left: 0;
  height: 10em;
  margin-top: 1em;
  position: absolute;
  top: 0;
  color: white;
  background-color: transparent;
  padding: 8px 18px;
}
.carousel.teaser .carousel-item:first-child .image p.credits {
  background-color: transparent;
  position: absolute;
  bottom: 24px;
}
@media screen and (max-width: 48em) {
  .carousel.teaser .carousel-item {
    background-color: #fff;
    margin-bottom: 24px;
    width: 100%;
  }
  .carousel.teaser .carousel-item .text,
  .carousel.teaser .carousel-item:first-child .text {
    clear: both;
    min-height: 12em;
    height: 100%;
    margin: 0;
    padding: 8px;
    position: static !important;
  }
  .carousel.teaser .carousel-item .text p,
  .carousel.teaser .carousel-item:first-child .text p,
  .carousel.teaser .carousel-item .text h2,
  .carousel.teaser .carousel-item:first-child .text h2 {
    background-color: transparent;
    width: 100%;
    color: #181513;
    display: block;
  }
  .carousel.teaser .carousel-item .text p a,
  .carousel.teaser .carousel-item:first-child .text p a,
  .carousel.teaser .carousel-item .text h2 a,
  .carousel.teaser .carousel-item:first-child .text h2 a {
    color: #181513;
  }
  .carousel.teaser .carousel-item .text p,
  .carousel.teaser .carousel-item:first-child .text p,
  .carousel.teaser .carousel-item .text:first-child p,
  .carousel.teaser .carousel-item:first-child .text:first-child p,
  .carousel.teaser .carousel-item .text h2,
  .carousel.teaser .carousel-item:first-child .text h2,
  .carousel.teaser .carousel-item .text:first-child h2,
  .carousel.teaser .carousel-item:first-child .text:first-child h2 {
    padding: 4px;
  }
}
.carousel.teaser .carousel-item .text h2 a {
  font-size: 1.4em;
  color: #232323;
  font-weight: 400;
}
.carousel.teaser .carousel-item .text p {
  font-size: 1.25em;
}
.carousel.teaser .image img {
  max-height: 29.6em;
}
.carousel.teaser > div {
  min-height: 0;
}
.carousel .carousel-nav {
  display: none;
}
.carousel p.lead {
  clear: both;
  border: 0 !important;
  box-shadow: none;
  font-size: 1.2em;
}
.media-carousel {
  box-shadow: none;
  border: 0;
}
#features h2 {
  padding-bottom: 12px;
  text-align: center;
  border-bottom: 1px solid #e0ddd6;
}
.feature {
  padding-top: 0;
  margin: 1em 0;
}
.feature .image {
  width: 100%;
  max-width: 100%;
}
.feature .image a {
  display: block;
  overflow: hidden;
}
.feature .image a img {
  transition: all 0.35s ease-in-out 0s;
}
.feature .image a:hover img {
  transform: scale(1.2);
  opacity: 0.8;
}
.feature .image .credits {
  text-align: right;
  padding-right: 12px;
}
.feature h3 a {
  font-size: 1.6em;
  color: #232323;
  font-weight: 400;
}
#inline {
  margin: 0;
}
#inline .sprocket ul .highlight .thumb {
  padding: 0 12px 0 24px;
  display: block;
  clear: both;
}
#inline .sprocket ul .normal {
  padding-left: 24px;
}
#inline .sprocket ul .normal:hover {
  background-color: #f6f5f3;
  border-left: 5px solid black;
}
#inline .sprocket ul .normal:hover a {
  text-decoration: none;
}
p.infos {
  clear: both;
}
#location h3 {
  padding: 0;
}
.sprocket {
  overflow: visible;
}
.sprocket .description,
.sprocket .infos {
  font-size: 14px;
}
.sprocket p,
.sprocket fieldset {
  padding: 8px 24px;
}
.sprocket div.title,
.sprocket div.title a {
  padding: 0;
  background-color: #89c237;
  color: white;
}
.sprocket h3 {
  font-size: 1.4em;
  font-weight: 500;
  color: #f6f5f3;
  background-color: #89c237;
}
.sprocket ul .normal:hover {
  background-color: #f6f5f3;
  border-left: 5px solid black;
}
.sprocket ul .normal:hover a {
  text-decoration: none;
}
#side .sprocket div.thumb {
  margin-left: 12px;
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  overflow: hidden;
}
#side .sprocket div.thumb img {
  height: 100%;
}
#side .sprocket h4 {
  font-size: 21px;
  padding-left: 12px;
}
#side .sprocket h4 a {
  color: black;
}
#side .sprocket p.description {
  clear: both;
  display: none;
}
#side .sprocket .author_container {
  display: none;
}
.sprocket_manuallist li,
.sprocket_manuallist li .feature,
.sprocket_manuallist li .entry {
  border-bottom: 1px solid #eee;
  position: relative;
}
#rating p {
  padding: 0;
}
#bottom {
  margin: 0;
  color: white;
  background-color: #181513;
}
#bottomnav,
#textnav {
  border-top: 0;
}
