// GLOBAL ////////////////////////////////////////////////////////

// Font Imports
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/GtRkRNTnri0g82CjKnEB0Q.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/BVtM30trf7q_jfqYeHfjtA.woff) format('woff');
}
// Mixins

@color_black:					#181513;
@color_offwhite:				#f6f5f3;
@color_pastelgreen:				#89c237;

.font-a {font-family: 'Lato' !important}

.bold{font-weight:700};
.light{font-weight:100}

.boxed{	
	border:1px solid #c8c8c8 !important;
	background-color: #fff;
	border-radius:6px;
	display: block;
	margin-bottom: 30px;
	overflow: hidden;
	box-shadow:0px 0px 2px rgba(96,96,96,0.12);
}

.sprocket-highlight{
	background-color:@color_offwhite;
	border-left:5px solid black;
	a{
		text-decoration:none;
	}
}

.button-style{
	color:@color_black;
	background: none repeat scroll 0 0 lighten(@color_pastelgreen, 25%);
	&:hover{
		background: none repeat scroll 0 0 @color_pastelgreen;
	}
}

// Global Styles

#body{
	max-width:100%;
	background-color:@color_offwhite;
}

a:hover{
	text-decoration:none !important;
}

h1, h2, h3, h4, h5, h6, p, a, .content li, .media-content, select, input, button, textarea, button {
	.font-a;
}
	
h1,h2,h3,h4,h5,h6{
	.bold;
	&, & a, #title & a{
		color:@color_black;
	}
}

// Button Style

a.listing_but, a.reset, a.submit_event, #location a.link, button, input.button, .roundup_marker, .roundup-location .number {
    .button-style;
}

// Basic Layout and Sizes

#page{
	margin:0;
	padding:0;
}

#main{
	max-width:60em;
	width:64%;
}

#side{
	float:left;
	margin-left:2em;
	overflow:visible;
	max-width:24em;
	width:32%;
}

#logo, #topnav, #breadcrumbs{
	max-width:96em;
	margin:0 auto;
}

// HEADER STYLES //////////////////////////////////////

#top{
	top:0;
	margin:0;
	width:100%;
	background: @color_black url('header_colors.png') repeat-x top center;
	position:fixed;
	z-index:9999;
	transition:all 0.30s ease-in-out 0.1s;
	opacity:0.85;
	&:hover{
		opacity:1;
	}
	@media screen and (max-width:48em){
		background-color: @color_black;
		opacity:1;
	}
}

#topnav {
	.mainnav li > a {
    	color: @color_offwhite;
	}
	.mainnav a {
    	font-size: 120%;
	    padding: 1em;
    	background-color: transparent;
    	padding: 1.2em 1em;
    	text-decoration: none;
    	display: block;
	}
	li, .subnav_nested li{
		border-color:darken(@color_black, 10);
		@media screen and (max-width:48em){
			border-color:darken(@color_black, 10);
		}
	}
	a.pull {
		&:hover{
			background-color:@color_pastelgreen;
		}
		color:@color_offwhite;
	}
}

.logo a img {
    &.standard{
    	@media screen and (max-width:48em){
    		display:none !important;
    	}
	}
	&.responsive{
	    max-height:6em;
	    width: auto;
		margin: 0 auto;
	}
}

.header_links {
	@media screen and (min-width:48em){
    	top: 5em;
    }
    font-size:1.2em;
    a{margin-left: 1.4em;}
    a:hover{color:white}
}

// Chicklets and CSE positioning on desktop

@media screen and (min-width:48em){
	#logo{
		#CSE, .chicklets{
				top:15px;
			}
		}
	#CSE{left:0}
	.chicklets{right:0}
}

// Breadcrumbs

#breadcrumbs{
	padding:0.4em 0 0.4em 2em;
	background-color:transparent;
	a{color:fade(@color_offwhite, 50%);
		&:hover{color: fade(@color_offwhite, 100%)}
	}
}

// Submenu Styling

#related{
	border-top: 1px solid @color_offwhite;
}

// CONTENT STYLES /////////////////////////////////////

// Post Types ///////////////////////////////////
.feature, .sprocket, #pagetype_article #main, .lead{
	width:100%;
}

.feature, .sprocket, #pagetype_article #main, .lead, .featurette{
	.boxed;
}

.feature, .carousel-teaser, .sprocket, .lead, .featurette{
	h3, .description, .infos{
		padding:8px 18px;
	}
	.description{
		font-size:18px;
		line-height:1.5;
	}
}

.features_wide {
    width: 100%;
}

.featurette{
	clear:both;
}

#pagetype_homepage, #pagetype_article, #pagetype_tags, #pagetype_event, 
#pagetype_section, #pagetype_eventsearch, #pagetype_searchresults, #pagetype_subsection, 
#pagetype_page, #pagetype_locationsearch, #pagetype_location{
	padding-top:240px;
	max-width:96em;
	margin:0 auto;
	@media screen and (max-width:48em){
	    padding-top: 12em;
	}
}

// Lead Story

.lead{
	width:100%;
	margin-right:0;
	border-bottom: 0;
	p{display:block; background-color:@color_offwhite; max-height:10em; width:33%}
	h2{background-color: @color_pastelgreen; width: 33%;
		a{color:white !important;}
	}
	h2, p{padding:12px 24px;}
	.text{
		left: 0;
		height: 10em;
		margin-top:1em;
		position: absolute;
		top: 0;
		color:white;
		background-color:transparent;
		padding: 8px 18px;
	}
	.image {
		p.credits {background-color: transparent; position:absolute; bottom:24px;}
	}
}

#sectionlead .lead{
	border-bottom:0;
}

#pagetype_article #main {
	& > *{
		padding:0 24px;
	}
	#location{
		h3{padding-left:0 !important}
	}
}

// Carousel

.carousel{
	&.media {
		.file, .youtube, .vimeo, .soundcloud, .cdn-video, .cdn-audio, .embed {
		margin: 0 auto;
		}
	}
	&.teaser {
		border-bottom: 0;
		.text {
		    background-color: transparent;
		    position:static;
		    clear:both;
		}
		.text, .lead .text {
    		background: none repeat scroll 0% 0% transparent;
    		color: #000;
    		min-height: 6.7em;
		}
		.carousel-item{
			background-color:#fff;
			opacity:1;
			position:static;
			width:33%;
			margin-right:2px;
			float:left;
			p{display:none}
			h2{font-size:1.2em;}
			&:first-child{
				.lead;
			}
			@media screen and (max-width:48em){
				background-color:#fff;
				margin-bottom:24px;
				width:100%;
				.text, &:first-child .text{
					clear:both;
					min-height:12em;
					height: 100%;
					margin:0;
					padding:8px;
					position:static !important;
					p, h2{background-color:transparent; width:100%; color:@color_black; display:block;
						a{color:@color_black}
					}
					&, &:first-child{
						p, h2{padding:4px}
					}
				}
			}
			.text h2 a{
				font-size: 1.4em;
				color: #232323;
				font-weight: 400;
			}
			.text p{
				font-size:1.25em;
			}
		}
		.image img {
		    max-height: 29.6em;
		}
		& > div {
			min-height:0;
		}
	}
	.carousel-nav{
		display:none;
	}
	p.lead{
		clear:both;
		border:0 !important;
		box-shadow:none;
		font-size:1.2em;
	}
}

.media-carousel{
	box-shadow:none;
	border:0;
}


// Feature

#features h2{
	padding-bottom:12px;
	text-align:center;
	border-bottom:1px solid darken(@color_offwhite,10%);
}

.feature{
	padding-top:0;
	margin:1em 0;
	.image{
		width:100%;
		max-width:100%;
		a{
			display:block;
			overflow:hidden;
			img{
				transition:all 0.35s ease-in-out 0s;
			}
			&:hover{
				img{
					transform: scale(1.2);
					opacity:0.8;
				}
			}
		}
		.credits{
			text-align:right;
			padding-right: 12px;
		}
	}
	h3 a{
		font-size:1.6em;
		color:#232323;
		font-weight:400;
	}
}

// Inline

#inline{
	margin:0;
	.sprocket ul {
		.highlight {
			.thumb{
				padding:0 12px 0 24px;
				display:block;
				clear:both;
			}
		}
		.normal{
			padding-left:24px;
			&:hover{
				.sprocket-highlight;
			}
		}
		
	}
}

p.infos {
	clear:both;
}

// Review

#location{
	h3{padding:0}
}

// Sprockets

.sprocket{
	overflow:visible;
	.description, .infos{
		font-size:14px;
	}

	p, fieldset{
		padding:8px 24px;
	}
	div.title, div.title a, {
		padding:0;
		background-color:#89c237;
		color:white;
	}
	h3{
		font-size:1.4em;
		font-weight:500;
		color:@color_offwhite;
		background-color:@color_pastelgreen;
	}
	ul{
		.normal{
			&:hover{
				.sprocket-highlight;
			}
		}
	}
}

#side .sprocket {
	div.thumb{
		margin-left:12px;
		width:64px;
		height:64px;
		border-radius:9999px;
		overflow:hidden;
		img{
			height:100%;
		}
	}
	h4{
		font-size:21px;
		padding-left:12px;
		a{color:black}
	}
	p.description{
		clear:both;
		display:none;
	}
	.author_container{
		display:none;
	}
}

.sprocket_manuallist li{
	&, .feature, .entry {
    	border-bottom: 1px solid #eee;
    	position: relative;
	}
}

#rating p{
	padding:0;
}

// Footer Styles

#bottom{
	margin:0;
	color:white;
	background-color: @color_black;
}

#bottomnav, #textnav {
    border-top:0;
}